set default="0"
set timeout="2"
search -l kernel -s root

menuentry "OpenWrt" {
	linux /boot/vmlinuz root=PARTUUID=a5277bfe-d1e8-575b-54dd-4fa4b6813702 rootwait  console=tty1 console=ttyS0,38400n8 noinitrd
}
menuentry "OpenWrt (failsafe)" {
	linux /boot/vmlinuz failsafe=true root=PARTUUID=a5277bfe-d1e8-575b-54dd-4fa4b6813702 rootwait  console=tty1 console=ttyS0,38400n8 noinitrd
}